.footer{
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    width: 100%;
    height: 300px;    
    align-items: center;
    color: rgb(4, 11, 17);
    font-family: 'Nunito', sans-serif;
    border-radius: 10px 50px;
    justify-content: center;
    opacity: 0.8;
    
    
    /* width: 100%;
    height: 150px;
   opacity: 0.8;
   border: 1px solid; */
  

}

.footer .itemsContainer {
    width: 70%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.footer .itemsContainer .icon {
    color: white;
    font-size: 30px;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 10px;

}

.test {
    padding: 5px;
    display: flex;
}


.footer .itemsContainer span{
  
    /* margin-left: 70px; */
    /* margin-right: 5px; */
    color: white;
    font-size: 20px;
    
    
    
}

.footer .itemsContainer span:hover{
    color: red;
    font-size: 22px;
}



.footer .itemsContainer .icon:hover {
    font-weight: 500;
    background-color: rgb(5, 5, 5);
    opacity: 0.6;
    border-radius: 5px;
    color: rgb(216, 34, 14);
    justify-content: center;
    align-items: center;
    padding: 5px;
}

h1{
    color: rgb(144, 136, 136);
    font-size: 15px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/* .footer{
    width: 100%;
    height: 150px;
   opacity: 0.8;
   border: 1px solid;
    
    
   
    
}

.footer .itemsContainer{
    align-items:center;
    justify-content:space-around;
    margin-top: 50px;
    
    

}

.footer .itemsContainer .icon:hover {
    font-weight: 500;
    background-color: rgb(66, 64, 64);
    opacity: 0.6;
    width: 250px;
    height: 35px;
    
    padding-right: 50px;
    
    border-radius: 5px;
    color: rgb(216, 34, 14);
    justify-content: center;
    align-items: center;
}



h1{
    color: rgb(144, 136, 136);
    font-size: 15px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
} */